home-assistant_v2.db*
*.db
home-assistant.log.*
home-assistant.log
.storage/auth
zigbee2mqtt/
www/
custom_components
secrets.yaml
.storage/*
!.storage/lovelace*
blueprints/
.ha_run.lock
.cache/
.ssh/
